/* styles.css */
.custom-header {
  background: linear-gradient(to right, #0d9488, #10b981);
  color: white;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: white;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}

.nav-link:hover {
  color: #d1d5db; /* Tailwind gray-300 */
}
